
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- End Required meta tags -->
    <!-- Begin SEO tag -->
    <title> Admin Login | Ludo King </title>
    <meta property="og:title" content="Sign In">
    <meta name="author" content="Beni Arisandi">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Responsive admin theme build on top of Bootstrap 4">
    <meta property="og:description" content="Responsive admin theme build on top of Bootstrap 4">
    <link rel="canonical" asp-action="index1">
    <meta property="og:url" content="https://uselooper.com">
    <meta property="og:site_name" content="Looper - Bootstrap 4 Admin Theme">
    <script type="application/ld+json">
        {
          "name": "Looper - Bootstrap 4 Admin Theme",
          "description": "Responsive admin theme build on top of Bootstrap 4",
          "author":
          {
            "@@type": "Person",
            "name": "Beni Arisandi"
          },
          "@@type": "WebSite",
          "url": "",
          "headline": "Sign In",
          "@@context": "http://schema.org"
        }
    </script><!-- End SEO tag -->
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="">
    <link rel="shortcut icon" href="">
    <meta name="theme-color" content="#3063A0"><!-- Google font -->
    <link href="~/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End Google font -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" href="~/assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css"><!-- END PLUGINS STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.min.css" data-skin="default">
    <link rel="stylesheet" href="~/assets/stylesheets/theme-dark.min.css" data-skin="dark">
    <link rel="stylesheet" href="~/assets/stylesheets/custom.css">
    <script>
        var skin = localStorage.getItem('skin') || 'default';
        var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');
        // Disable unused skin immediately
        disabledSkinStylesheet.setAttribute('rel', '');
        disabledSkinStylesheet.setAttribute('disabled', true);
        // add loading class to html immediately
        document.querySelector('html').classList.add('loading');
    </script><!-- END THEME STYLES -->
</head>
<body>
    <!--[if lt IE 10]>
    <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
    <![endif]-->
    <!-- .auth -->
    <main class="auth h-25">
        <header id="auth-header" class="auth-header" style="background-image: url(~/assets/images/illustration/img-1.png);">
            <h1>Admin Login</h1>
        </header><!-- form -->
        <form class="auth-form" method="post" asp-action="AdminLogin">
            <!-- .form-group -->
            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputUser" class="form-control" placeholder="Username" name="email"> <label for="inputUser">Username</label>
                </div>
            </div><!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"> <label for="inputPassword">Password</label>
                </div>
            </div><!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </div><!-- /.form-group -->
            
            <p class="text-center text-danger">@TempData["msg"]</p>
        </form><!-- /.auth-form -->
        <!-- copyright -->
        @* <footer class="auth-footer">
            © 2025 All Rights Reserved. <a href="#">Privacy</a> and <a href="#">Terms</a>
        </footer> *@
    </main><!-- /.auth -->
    <!-- BEGIN BASE JS -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script> <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    <script src="~/assets/vendor/particles.js/particles.js"></script>
    <script>
        /**
         * Keep in mind that your scripts may not always be executed after the theme is completely ready,
         * you might need to observe the `theme:load` event to make sure your scripts are executed after the theme is ready.
         */
        $(document).on('theme:init', () =>
        {
          /* particlesJS.load(@@dom-id, @@path-json, @@callback (optional)); */
          particlesJS.load('auth-header', '~/assets/javascript/pages/particles.json');
        })
    </script> <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script src="~/assets/javascript/theme.js"></script> <!-- END THEME JS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="~/gtag/js?id=UA-116692175-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-116692175-1');
    </script>
</body>
</html>